HTTP_ADDRESS=:8081
MYSQL_DSN='contract:contract@tcp(localhost:3306)/contract_management?parseTime=true&charset=utf8mb4&collation=utf8mb4_unicode_ci'
PLATFORM_BASE_URL=http://localhost:8080
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=contract-management
TEMPORAL_TLS=false
APPROVAL_NODE_TIMEOUT=72h
APPROVAL_REMINDER_INTERVAL=24h
ARCHIVE_CRON_SCHEDULE='0 16 * * *'
APPROVER_ROLE_ASSIGNMENTS_JSON='{"sales_director":["01J00000000000000000000001"],"technical_director":["01J00000000000000000000002"],"finance_director":["01J00000000000000000000003"],"administrator":["01J00000000000000000000004"]}'
